<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Domino_Label_Production.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="OrderContext" connectionString="data source=.\SQLEXPRESS;initial catalog=Order;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="Entities" connectionString="metadata=res://*/Models.Orders.csdl|res://*/Models.Orders.ssdl|res://*/Models.Orders.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Order;integrated security=True;MultipleActiveResultSets=True;App=EntityFrameworkk&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <userSettings>
    <Domino_Label_Production.Properties.Settings>
      <setting name="MSerieIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="MSeriePort" serializeAs="String">
        <value>9100</value>
      </setting>
      <setting name="AxFilePath" serializeAs="String">
        <value>C:\Users\timmy.staaf\Desktop\Misc\EtikettProduktion\PrintRead\Ax\print.txt</value>
      </setting>
      <setting name="Ax2FilePath" serializeAs="String">
        <value>C:\Users\timmy.staaf\Desktop\Misc\EtikettProduktion\PrintRead\Ax\print2.txt</value>
      </setting>
      <setting name="IntermecFilePath" serializeAs="String">
        <value>C:\Users\timmy.staaf\Desktop\Misc\EtikettProduktion\PrintRead\Intermec\print.txt</value>
      </setting>
      <setting name="Intermec2FilePath" serializeAs="String">
        <value>C:\Users\timmy.staaf\Desktop\Misc\EtikettProduktion\PrintRead\Intermec\print2.txt</value>
      </setting>
      <setting name="PLC1IP" serializeAs="String">
        <value />
      </setting>
      <setting name="PLC1Port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PLC2IP" serializeAs="String">
        <value />
      </setting>
      <setting name="PLC2Port" serializeAs="String">
        <value>0</value>
      </setting>
    </Domino_Label_Production.Properties.Settings>
  </userSettings>
</configuration>